In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

# Store CSV into DataFrame

## Reservation Data 2010 - 2015

In [2]:
res_file_10_15= os.path.join("Data","ReservationData10_15.csv")
res_data_10_15_df = pd.read_csv(res_file_10_15)
res_data_10_15_df

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
0,2-13888626,GLACIER BASIN CAMPGROUND,GROUP TENT ONLY AREA NONELECTRIC,232462,CO,8/12/2010,8/13/2010,17
1,2-13883425,BOGAN FLATS CAMPGROUND GRP S,STANDARD NONELECTRIC,232158,CO,9/3/2010,9/6/2010,6
2,2-13884441,BELLAIRE LAKE CAMPGROUND,STANDARD ELECTRIC,233137,CO,8/24/2010,8/27/2010,2
3,2-13887874,GLACIER BASIN CAMPGROUND,STANDARD NONELECTRIC,232462,CO,8/7/2010,8/8/2010,1
4,2-13887885,BUFFALO CAMPGROUND,STANDARD NONELECTRIC,231875,CO,8/13/2010,8/15/2010,6
...,...,...,...,...,...,...,...,...
472744,2-32660704,GORE CREEK CAMPGROUND,TENT ONLY NONELECTRIC,234794,CO,9/18/2015,9/20/2015,2
472745,2-32656250,ROBERTS CABIN,CABIN NONELECTRIC,233808,CO,10/6/2015,10/9/2015,2
472746,2-32657290,MORAINE PARK CAMPGROUND,WALK TO,232463,CO,9/13/2015,9/16/2015,1
472747,2-32657310,SPRINGER GULCH,STANDARD NONELECTRIC,233718,CO,9/18/2015,9/21/2015,4
472748,2-32657321,DIFFICULT CAMPGROUND,STANDARD NONELECTRIC,231880,CO,9/20/2015,9/24/2015,2

## Reservation Data 2010 - 2015

In [3]:
res_file_16_20= os.path.join("Data","ReservationData16_20.csv")
res_data_16_20_df = pd.read_csv(res_file_16_20)
res_data_16_20_df

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
0,2-32735678,SADDLEHORN CAMPGROUND,STANDARD NONELECTRIC,234778,CO,10/9/2015,10/11/2015,1
1,2-32734735,BLANCO RIVER GROUP CAMPGROUND,GROUP STANDARD NONELECTRIC,233318,CO,7/7/2016,7/10/2016,75
2,2-32736183,CUTTHROAT BAY GROUP,GROUP STANDARD NONELECTRIC,233880,CO,7/15/2016,7/17/2016,30
3,2-32734610,Pinon Flats Campground,GROUP TENT ONLY AREA NONELECTRIC,234685,CO,10/23/2015,10/25/2015,20
4,2-32737179,SADDLEHORN CAMPGROUND,STANDARD NONELECTRIC,234778,CO,10/3/2015,10/4/2015,2
...,...,...,...,...,...,...,...,...
701027,0299021752-1,BUCKEYE RECREATION AREA (CO),STANDARD NONELECTRIC,234724,CO,7/24/2020,7/26/2020,4
701028,0299110351-1,BUCKEYE RECREATION AREA (CO),STANDARD NONELECTRIC,234724,CO,7/21/2020,7/22/2020,1
701029,0299113958-1,BUCKEYE RECREATION AREA (CO),STANDARD NONELECTRIC,234724,CO,5/25/2020,5/26/2020,2
701030,0299604686-1,BUCKEYE RECREATION AREA (CO),GROUP STANDARD AREA NONELECTRIC,234724,CO,7/17/2020,7/19/2020,25
701031,0299699639-1,BUCKEYE RECREATION AREA (CO),STANDARD NONELECTRIC,234724,CO,9/20/2020,9/22/2020,1

## National Park Data

In [6]:
nps_file= os.path.join("Data","NatPark_All_Clean_Summary_Visitor_Use.csv")
nps_df_0 = pd.read_csv(nps_file)

nps_df_0.dtypes

Park                        object
State                       object
Year                         int64
Month                       object
Recreation_ Visitors        object
Non_Recreation_Visitors     object
Recreation_Visitor_Hours    object
Non_Recreation_Hours        object
Concession_Lodging          object
Tent_Campers                object
RV_Campers                  object
Backcountry_Campers         object
Misc_Campers                object
Total_Overnight_Stays       object
dtype: object

In [9]:
nps_df_0["Recreation_ Visitors"]=nps_df_0["Recreation_ Visitors"].str.replace(",","")
nps_df_0["Non_Recreation_Visitors"]=nps_df_0["Non_Recreation_Visitors"].str.replace(",","")
nps_df_0["Recreation_Visitor_Hours"]=nps_df_0["Recreation_Visitor_Hours"].str.replace(",","")
nps_df_0["Non_Recreation_Hours"]=nps_df_0["Non_Recreation_Hours"].str.replace(",","")
nps_df_0["Concession_Lodging"]=nps_df_0["Concession_Lodging"].str.replace(",","")
nps_df_0["Tent_Campers"]=nps_df_0["Tent_Campers"].str.replace(",","")
nps_df_0["RV_Campers"]=nps_df_0["RV_Campers"].str.replace(",","")
nps_df_0["Backcountry_Campers"]=nps_df_0["Backcountry_Campers"].str.replace(",","")
nps_df_0["Misc_Campers"]=nps_df_0["Misc_Campers"].str.replace(",","")
nps_df_0["Total_Overnight_Stays"]=nps_df_0["Total_Overnight_Stays"].str.replace(",","")

nps_df_0.dtypes

Park                        object
State                       object
Year                         int64
Month                       object
Recreation_ Visitors        object
Non_Recreation_Visitors     object
Recreation_Visitor_Hours    object
Non_Recreation_Hours        object
Concession_Lodging          object
Tent_Campers                object
RV_Campers                  object
Backcountry_Campers         object
Misc_Campers                object
Total_Overnight_Stays       object
dtype: object

In [12]:
data_dict={"Park": object,
           "State": object,
           "Year": int,
           "Month": object,
           "Recreation_ Visitors": int,
           "Non_Recreation_Visitors": int,
           "Recreation_Visitor_Hours": int,
           "Non_Recreation_Hours": int,
           "Concession_Lodging": int,
           "Tent_Campers": int,
           "RV_Campers": int,
           "Backcountry_Campers": int,
           "Misc_Campers": int,
           "Total_Overnight_Stays": int
          }

nps_df=nps_df_0.astype(data_dict)

nps_df

,Park,State,Year,Month,Recreation_ Visitors,Non_Recreation_Visitors,Recreation_Visitor_Hours,Non_Recreation_Hours,Concession_Lodging,Tent_Campers,RV_Campers,Backcountry_Campers,Misc_Campers,Total_Overnight_Stays
0,Black Canyon of the Gunnison NP,CO,2010,January,2519,0,6898,0,0,19,8,0,0,27
1,Black Canyon of the Gunnison NP,CO,2010,February,3034,0,9193,0,0,35,13,0,0,48
2,Black Canyon of the Gunnison NP,CO,2010,March,3199,0,8741,0,0,35,20,0,0,55
3,Black Canyon of the Gunnison NP,CO,2010,April,4421,0,17747,0,0,169,160,32,0,361
4,Black Canyon of the Gunnison NP,CO,2010,May,21259,0,128429,0,0,1159,715,107,0,1981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,Rocky Mountain NP,CO,2020,August,580368,2300,3963040,6900,0,7506,10212,12334,0,30052
524,Rocky Mountain NP,CO,2020,September,500019,1500,3316384,4500,0,7776,5253,6738,0,19767
525,Rocky Mountain NP,CO,2020,October,297665,560,1839907,1680,0,984,756,1630,0,3370
526,Rocky Mountain NP,CO,2020,November,157875,100,948387,300,0,0,0,71,0,71
527,Rocky Mountain NP,CO,2020,December,156165,60,944415,180,0,183,180,101,0,464

# Store DataFrame into PostgresSQL Database

## Reservation DataFrame to Database

In [13]:
rds_connection_string = (f'postgres:postgres@localhost:5432/colorado_camping_db')
engine = create_engine(f'postgresql://{rds_connection_string}')

In [14]:
engine.table_names()

['nps_summary', 'reservations']

### 2010 to 2015 Reservation Data

In [15]:
res_data_10_15_df.to_sql(name='reservations', con=engine, if_exists='append', index=False)

In [58]:
# import math
# batch_size=100000
# beg=0
# end=beg+batch_size
# for i in range(math.floor(len(res_df)/batch_size)): 
#     print(f'{beg} - {end}')
#     res_df.iloc[beg:end].to_sql(name='reservations', con=engine, if_exists='append', index=False)
#     beg=end
#     end=beg+batch_size
# res_df.iloc[end:].to_sql(name='reservations', con=engine, if_exists='append', index=False)

### 2016 to 2020 Reservation Data

In [16]:
res_data_16_20_df.to_sql(name='reservations', con=engine, if_exists='append', index=False)

## National Parks DataFrame to Database

In [92]:
nps_df.to_sql(name='nps_summary', con=engine, if_exists='append', index=False)